<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k0n9.module.sys.dao.ResourceMapper">

    <cache/>

    <sql id="resourceColumns">
        id,name,identity,url,parent_id,parent_ids,
        icon,weight,is_show
    </sql>

    <sql id="resourceJoin">

    </sql>

    <select id="fetch" resultType="Resource">
        SELECT
        <include refid="resourceColumns"/>
        FROM sys_resource r
        WHERE id = #{id}
    </select>

    <select id="findList" resultType="Resource">
        SELECT
        <include refid="resourceColumns"/>
        FROM sys_resource r
        ORDER BY weight ASC
    </select>

    <select id="findPage" resultType="Resource">
        SELECT
        <include refid="resourceColumns"/>
        FROM sys_resource r
        ORDER BY weight ASC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Resource">
		INSERT INTO sys_resource (
            name,"identity",url,parent_id,parent_ids,icon,
            weight,is_show
		) VALUES (
		  #{name},#{identity},#{url},#{parentId},#{parentIds},#{icon},
		  #{weight},#{isShow}
		)
	</insert>

    <update id="update" parameterType="Resource">
		UPDATE sys_resource SET
		  name=#{name},
		  "identity"=#{identity},
		  url=#{url},
		  parent_id=#{parentId},
		  parent_ids=#{parentIds},
	      icon=#{icon},
		  weight=#{weight},
		  is_show=#{isShow}
		  WHERE id = #{id}
	</update>

</mapper>