<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k0n9.module.sys.dao.UserMapper">

    <cache/>

    <sql id="userColumns">
        ID,USERNAME,EMAIL,PHONE_NUMBER,PASSWORD,SALT,
        CREATE_DATE,STATUS,DELETED,IS_ADMIN
    </sql>

    <select id="fetch" resultType="User">
        select
        <include refid="userColumns"/>
        from SYS_USER
        where id = #{id}
    </select>

    <select id="findList" resultType="User">
        select
        <include refid="userColumns"/>
        from SYS_USER
        order by id DESC
    </select>

    <select id="findPage" resultType="User">
        select
        <include refid="userColumns"/>
        from SYS_USER
        order by id DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into SYS_USER (
            USERNAME,PASSWORD,EMAIL,PHONE_NUMBER,SALT,CREATE_DATE,
            STATUS,DELETED,IS_ADMIN
		) values (
		  #{username},#{password},#{email},#{phoneNumber},#{salt},#{createDate},
		  #{status},#{deleted},#{isAdmin}
		)
	</insert>

    <update id="update">
		update SYS_USER set
		  username=#{username},
		  email=#{email}
		  where id = #{id}
	</update>

</mapper>